{% extends 'base_fa.html' %}
{% load static %}


{% block content %}
 <!-- Sections:Start -->
<div class="scrollspy-example" data-bs-spy="scroll">

    <!-- Hero: Start -->
    <section id="hero-animation">
        <div class="section-py landing-hero position-relative" id="landingHero">
            <div class="container">
                <div class="hero-text-box text-center">
                    <h1 class="text-primary hero-title display-6 fw-bold ">
                        دنیای بدون مرز داده ها
                    </h1>
                    <h2 class="hero-sub-title h6 mb-4 mt-2 pb-1 lh-2">
                       مخزن ذخیره سازی، مبادله و اشتراک گذاری داده ها
                        <br class="d-none d-lg-block"/>
                        ویژه کاربران حوزه هوش مصنوعی
                    </h2>
                    <div class="landing-hero-btn d-inline-block position-relative">
                        <span class="hero-btn-item position-absolute d-none d-md-flex text-heading">
                            فرصت استثناییءء
                            <img alt="پیکان انجمن" class="scaleX-n1-rtl" src="{% static 'img/front-pages/icons/Join-community-arrow.png' %}"/>
                        </span>
                        {% if request.user.is_authenticated %}
                             <a class="btn btn-primary btn-lg" href="{% url 'dataset:dataset_list_fa' %}"> به دنیای ما بپیوندید</a>
                        {% else %}
                             <a class="btn btn-primary btn-lg" href="{% url 'account:login_fa' %}"> به دنیای ما بپیوندید</a>
                        {% endif %}



                    </div>
                </div>
                <div class="hero-animation-img" id="heroDashboardAnimation">
                    <a href="../vertical-menu-template/app-ecommerce-dashboard.html" target="_blank">
                        <div class="position-relative hero-dashboard-img" id="heroAnimationImg">
                            <img alt="داشبورد قهرمان" class="animation-img"  src="{% static 'img/front-pages/landing-page/hero-dashboard-light.png' %}"/>
                            <img alt="عناصر قهرمان" class="position-absolute hero-elements-img animation-img top-0 start-0"  src="{% static 'img/front-pages/landing-page/hero-elements-light.png' %}"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="landing-hero-blank"></div>
    </section>
    <!-- Hero: End -->

    <!-- Useful features: Start -->
    <section class="section-py landing-features" id="landingFeatures">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary"></span>
            </div>
            <h3 class="text-center mb-2 fw-medium">
                <span class="section-title">ویژگی های دیتاهاب</span>
            </h3>
            <p class="text-center mb-3 mb-md-5 pb-3"> </p>
            <div class="features-icon-wrapper row gx-0 gy-4 g-sm-5">
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img alt="شارژ لپ تاپ" src="{% static 'img/front-pages/icons/laptop.png' %}"/>
                    </div>
                    <h5 class="mb-2">دسترسی به مخزن داده</h5>
                    <p class="features-icon-description"> دسترسی به دیتاست های مختلف از مراجع و هاب های داده بین المللی بدون واسطه</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img alt="انتقال به بالا" src="{% static 'img/front-pages/icons/rocket.png' %}"/>
                    </div>
                    <h5 class="mb-2">تعریف دیتاست های شخصی</h5>
                    <p class="features-icon-description">امکان تعریف، بارگذاری و اشتراک گذاری دیتاست های شخصی بروی پلتفرم</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img alt="ویرایش کنید" src="{% static 'img/front-pages/icons/paper.png' %}"/>
                    </div>
                    <h5 class="mb-2">مبادله داده</h5>
                    <p class="features-icon-description">قابلیت ارزش گذاری، مبادله و خرید و فروش دیتاست ها در Dataset Marketplace </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img alt="پرونده های گوگل" src="{% static 'img/front-pages/icons/keyboard.png' %}"/>
                    </div>
                    <h5 class="mb-2">پیش پردازش</h5>
                    <p class="features-icon-description">امکان پیش پردازش دیتاست ها و ذخیره سازی بهینه دیتا</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img alt="جامد را سه بعدی انتخاب کنید" src="{% static 'img/front-pages/icons/check.png' %}"/>
                    </div>
                    <h5 class="mb-2">ارائه API</h5>
                    <p class="features-icon-description">ارائه سرویس داده به توسعه دهندگان در قالب API</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img alt="کمربند نجات" src="{% static 'img/front-pages/icons/user.png' %}"/>
                    </div>
                    <h5 class="mb-2">یکپارچه سازی</h5>
                    <p class="features-icon-description">امکان یکپارچه سازی با سرویس های ذخیره ابری و پردازش گرافیکی </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Useful features: End -->

    <!-- Real customers reviews: Start -->
    <section class="section-py bg-body landing-reviews pb-0" id="landingReviews">
        <!-- What people say slider: Start -->
        <div class="container">
            <div class="row align-items-center gx-0 gy-4 g-lg-5">
                <div class="col-md-6 col-lg-5 col-xl-3">
                    <div class="mb-3 pb-1">
                        <span class="badge bg-label-primary">نظرات مشتریان</span>
                    </div>
                    <h3 class="mb-2">
                        <span class="section-title">آنچه کاربران می‌گویند!</span>
                    </h3>
                    <p class="mb-3 mb-md-5">
                        <br class="d-none d-xl-block"/>

                    </p>
                    <div class="landing-reviews-btns">
                        <button class="btn btn-label-primary reviews-btn me-3 scaleX-n1-rtl" id="reviews-previous-btn" type="button">
                            <i class="ti ti-chevron-left ti-sm"></i>
                        </button>
                        <button class="btn btn-label-primary reviews-btn scaleX-n1-rtl" id="reviews-next-btn" type="button">
                            <i class="ti ti-chevron-right ti-sm"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-9">
                    <div class="swiper-reviews-carousel overflow-hidden mb-5 pb-md-2 pb-md-3">
                        <div class="swiper" id="swiper-reviews">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img alt="لوگوی مشتری" class="client-logo img-fluid" src="{% static 'img/front-pages/branding/logo-1.png' %}"/>
                                            </div>
                                            <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img alt="آواتار" class="rounded-circle" src="{% static 'img/avatars/1.png' %}"/>
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">حمیدرضا زمانی</h6>
                                                    <p class="small text-muted mb-0">مدیرعامل Airbnb</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img alt="لوگوی مشتری" class="client-logo img-fluid" src="{% static 'img/front-pages/branding/logo-2.png' %}"/>
                                            </div>
                                            <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img alt="آواتار" class="rounded-circle" src="{% static 'img/avatars/2.png' %}"/>
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">ترلان پروانه</h6>
                                                    <p class="small text-muted mb-0">بنیانگذار Hubspot</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img alt="لوگوی مشتری" class="client-logo img-fluid" src="{% static 'img/front-pages/branding/logo-3.png' %}"/>
                                            </div>
                                            <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img alt="آواتار" class="rounded-circle" src="{% static 'img/avatars/3.png' %}"/>
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">بهروز وثوقی</h6>
                                                    <p class="small text-muted mb-0">رهبر طراحی در Dribbble</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img alt="لوگوی مشتری" class="client-logo img-fluid" src="{% static 'img/front-pages/branding/logo-4.png' %}"/>
                                            </div>
                                            <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img alt="آواتار" class="rounded-circle" src="{% static 'img/avatars/4.png' %}"/>
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">بهاره کیان‌افشار</h6>
                                                    <p class="small text-muted mb-0">بنیانگذار همراه‌اول</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img alt="لوگوی مشتری" class="client-logo img-fluid" src="{% static 'img/front-pages/branding/logo-5.png' %}"/>
                                            </div>
                                            <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img alt="آواتار" class="rounded-circle" src="{% static 'img/avatars/5.png' %}"/>
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">حمید فرخ نژاد</h6>
                                                    <p class="small text-muted mb-0">بنیانگذار Hubspot</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img alt="لوگوی مشتری" class="client-logo img-fluid" src="{% static 'img/front-pages/branding/logo-6.png' %}"/>
                                            </div>
                                            <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img alt="آواتار" class="rounded-circle" src="{% static 'img/avatars/1.png' %}"/>
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">مهدی پاکدل</h6>
                                                    <p class="small text-muted mb-0">بنیانگذار ایرانسل</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- What people say slider: End -->
        <hr class="m-0"/>
        <!-- Logo slider: Start -->
        <div class="container">
            <div class="swiper-logo-carousel py-4 my-lg-2">
                <div class="swiper" id="swiper-clients-logos">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img alt="لوگوی مشتری" class="client-logo" data-app-dark-img="front-pages/branding/logo_1-dark.png" data-app-light-img="front-pages/branding/logo_1-light.png" src="{% static 'img/front-pages/branding/logo_1-light.png' %}"/>
                        </div>
                        <div class="swiper-slide">
                            <img alt="لوگوی مشتری" class="client-logo" data-app-dark-img="front-pages/branding/logo_2-dark.png" data-app-light-img="front-pages/branding/logo_2-light.png" src="{% static 'img/front-pages/branding/logo_2-light.png' %}"/>
                        </div>
                        <div class="swiper-slide">
                            <img alt="لوگوی مشتری" class="client-logo" data-app-dark-img="front-pages/branding/logo_3-dark.png" data-app-light-img="front-pages/branding/logo_3-light.png" src="{% static 'img/front-pages/branding/logo_3-light.png' %}"/>
                        </div>
                        <div class="swiper-slide">
                            <img alt="لوگوی مشتری" class="client-logo" data-app-dark-img="front-pages/branding/logo_4-dark.png" data-app-light-img="front-pages/branding/logo_4-light.png" src="{% static 'img/front-pages/branding/logo_4-light.png' %}"/>
                        </div>
                        <div class="swiper-slide">
                            <img alt="لوگوی مشتری" class="client-logo" data-app-dark-img="front-pages/branding/logo_5-dark.png" data-app-light-img="front-pages/branding/logo_5-light.png" src="{% static 'img/front-pages/branding/logo_5-light.png' %}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Logo slider: End -->
    </section>
    <!-- Real customers reviews: End -->


    <!-- Fun facts: Start -->
    <section class="section-py landing-fun-facts" id="landingFunFacts">
        <div class="container">
            <div class="row gy-3">
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-primary shadow-none">
                        <div class="card-body text-center">
                            <img alt="لپ تاپ" class="mb-2" src="{% static 'img/front-pages/icons/laptop.png' %}"/>
                            <h5 class="h2 mb-1">{{ dataset_count }}</h5>
                            <p class="fw-medium mb-0">دیتاست موجود
                                <br/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-success shadow-none">
                        <div class="card-body text-center">
                            <img alt="لپ تاپ" class="mb-2" src="{% static 'img/front-pages/icons/user-success.png' %}"/>
                            <h5 class="h2 mb-1">{{ user_count }}</h5>
                            <p class="fw-medium mb-0"> کاربر فعال
                                <br/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-warning shadow-none">
                        <div class="card-body text-center">
                            <img alt="لپ تاپ" class="mb-2" src="{% static 'img/front-pages/icons/check-warning.png' %}"/>
                            <h5 class="h2 mb-1">{{ request_count }}</h5>
                            <p class="fw-medium mb-0">مبادله انجام شده
                                <br/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-info shadow-none">
                        <div class="card-body text-center">
                            <img alt="لپ تاپ" class="mb-2" src="{% static 'img/front-pages/icons/diamond-info.png' %}"/>
                            <h5 class="h2 mb-1">4.8/5</h5>
                            <p class="fw-medium mb-0">میانگین رضایت
                                <br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fun facts: End -->

    <!-- FAQ: Start -->
    <section class="section-py bg-body landing-faq" id="landingFAQ">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">سوالات</span>
            </div>
            <h3 class="text-center mb-3">
                <span class="section-title">سوالات پرتکرار</span>
                کاربران ما
            </h3>
            <p class="text-center mb-5 pb-3">برای یافتن پاسخ سوالات خود، آیتم های زیر را بررسی کنید.</p>
            <div class="row gy-5">
                <div class="col-lg-5">
                    <div class="text-center">
                        <img alt="" class="faq-image" src="{% static 'img/front-pages/landing-page/faq-boy-with-logos.png' %}"/>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="accordion" id="accordionExample">
                        <div class="card accordion-item active">
                            <h2 class="accordion-header" id="headingOne">
                                <button aria-controls="accordionOne" aria-expanded="true" class="accordion-button" data-bs-target="#accordionOne" data-bs-toggle="collapse" type="button">
                                    آیا لورم ایپسوم یک متن ساختگی نامفهوم است ؟
                                </button>
                            </h2>
                            <div class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="accordionOne">
                                <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingTwo">

                                <button aria-controls="accordionTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionTwo" data-bs-toggle="collapse" type="button">
                                    آیا لورم ایپسوم یک متن ساختگی نامفهوم است ؟
                                </button>
                            </h2>
                            <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="accordionTwo">
                                <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button aria-controls="accordionThree" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionThree" data-bs-toggle="collapse" type="button">
                                    آیا لورم ایپسوم یک متن ساختگی نامفهوم است ؟
                                </button>
                            </h2>
                            <div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="accordionThree">
                                <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button aria-controls="accordionFour" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionFour" data-bs-toggle="collapse" type="button">
                                    آیا لورم ایپسوم یک متن ساختگی نامفهوم است ؟
                                </button>
                            </h2>
                            <div aria-labelledby="headingFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="accordionFour">
                                <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button aria-controls="accordionFive" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionFive" data-bs-toggle="collapse" type="button">
                                    آیا لورم ایپسوم یک متن ساختگی نامفهوم است ؟
                                </button>
                            </h2>
                            <div aria-labelledby="headingFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="accordionFive">
                                <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ: End -->



</div>
<!-- / Sections:End -->

  </div>

{% endblock %}
