{% load static %}

<footer class="landing-footer bg-body footer-text">
    <div class="footer-bottom py-3">
        <div class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
            <div class="mb-2 mb-md-0">
                <span class="footer-text">©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                </span>
                <span class="footer-text">
                    , ارائه شده توسط
                    <span class="text-danger byte-hover">دیتاهاب</span>
                    
                    <a class="fw-medium" href="#support" target="_blank"></a>
                </span>
            </div>

        </div>
    </div>
</footer>