{% load static %}

<!-- Footer: End -->
<!-- Core JS -->
<!-- build:js vendor/js/core.js -->
<script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'vendor/libs/node-waves/node-waves.js' %}"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/nouislider/nouislider.js' %}"></script>
<script src="{% static 'vendor/libs/swiper/swiper.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/front-main.js' %}"></script>
<!-- Page JS -->
<script src="{% static 'js/front-page-landing.js' %}"></script>


<script src="{% static 'js/tables-datatables-basic.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/i18n/fa.js' %}"></script>
<link href="{% static 'vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" rel="stylesheet"/>
<link href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" rel="stylesheet"/>
<link href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" rel="stylesheet"/>
<link href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" rel="stylesheet"/>
<link href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" rel="stylesheet"/>