{% load static %}

<!-- Navbar: Start -->
<nav class="layout-navbar shadow-none py-0">
    <div class="container">
        <div class="navbar navbar-expand-lg landing-navbar px-3 px-md-4">
            <!-- Menu logo wrapper: Start -->
            <div class="navbar-brand app-brand demo d-flex py-0 py-lg-2 me-4">
                <!-- Mobile menu toggle: Start-->
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="ناوبری را تغییر دهید" class="navbar-toggler border-0 px-0 me-2" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                    <i class="ti ti-menu-2 ti-sm align-middle"></i>
                </button>
                <!-- Mobile menu toggle: End-->
                <a class="app-brand-link" href="landing-page.html">
                    <span class="app-brand-logo demo">
                        <svg fill="none" height="22" viewBox="0 0 32 22" width="32" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z" fill="#7367F0" fill-rule="evenodd"/>
                            <path clip-rule="evenodd" d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z" fill="#161616" fill-rule="evenodd" opacity="0.06"/>
                            <path clip-rule="evenodd" d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z" fill="#161616" fill-rule="evenodd" opacity="0.06"/>
                            <path clip-rule="evenodd" d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z" fill="#7367F0" fill-rule="evenodd"/>
                        </svg>
                    </span>
                    <span class="app-brand-text demo menu-text fw-bold ms-2 ps-1">Vuexy</span>
                </a>
            </div>
            <!-- Menu logo wrapper: End -->
            <!-- Menu wrapper: Start -->
            <div class="collapse navbar-collapse landing-nav-menu" id="navbarSupportedContent">
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="ناوبری را تغییر دهید" class="navbar-toggler border-0 text-heading position-absolute end-0 top-0 scaleX-n1-rtl" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                    <i class="ti ti-x ti-sm"></i>
                </button>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link fw-medium" href="landing-page.html#landingHero">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="landing-page.html#landingFeatures">امکانات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="landing-page.html#landingTeam">تیم ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="landing-page.html#landingFAQ">سوالات متداول</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="landing-page.html#landingContact">ارتباط با ما</a>
                    </li>
                    <li class="nav-item mega-dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle navbar-ex-14-mega-dropdown mega-dropdown fw-medium" data-bs-toggle="mega-dropdown" data-trigger="hover" href="javascript:void(0);">
                            <span data-i18n="Pages">صفحات</span>
                        </a>
                        <div class="dropdown-menu p-4">
                            <div class="row gy-4">
                                <div class="col-12 col-lg">
                                    <div class="h6 d-flex align-items-center mb-2 mb-lg-3">
                                        <div class="avatar avatar-sm flex-shrink-0 me-2">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="ti ti-layout-grid"></i>
                                            </span>
                                        </div>
                                        <span class="ps-1">صفحات سایت</span>
                                    </div>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="pricing-page.html">
                                                <i class="ti ti-circle me-1"></i>
                                                <span data-i18n="Pricing">قیمت گذاری</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="payment-page.html">
                                                <i class="ti ti-circle me-1"></i>
                                                <span data-i18n="Payment">پرداخت</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="checkout-page.html">
                                                <i class="ti ti-circle me-1"></i>
                                                <span data-i18n="Checkout">ثبت سفارش</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="help-center-landing.html">
                                                <i class="ti ti-circle me-1"></i>
                                                <span data-i18n="Help Center">مرکز پشتیبانی</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="help-center-article.html">
                                                <i class="ti ti-circle me-1"></i>
                                                <span data-i18n="Help Center">صفحه آموزش</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg">
                                    <div class="h6 d-flex align-items-center mb-2 mb-lg-3">
                                        <div class="avatar avatar-sm flex-shrink-0 me-2">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="ti ti-lock-open"></i>
                                            </span>
                                        </div>
                                        <span class="ps-1">احراز هویت</span>
                                    </div>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-login-basic.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                ورود به سیستم (پایه)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-login-cover.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                ورود به سیستم (کاور)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-register-basic.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                ثبت نام (پایه)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-register-cover.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                ثبت نام (کاور)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-register-multisteps.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                ثبت نام (چند مرحله‌ای)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-forgot-password-basic.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                فراموشی رمز ورود (اصلی)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-forgot-password-cover.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                فراموشی رمز ورود (کاور)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-reset-password-basic.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                ریست رمز ورود (اصلی)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-reset-password-cover.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                ریست رمز ورود (کاور)
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg">
                                    <div class="h6 d-flex align-items-center mb-2 mb-lg-3">
                                        <div class="avatar avatar-sm flex-shrink-0 me-2">
                                            <span class="avatar-initial rounded bg-label-primary">
                                                <i class="ti ti-file-analytics"></i>
                                            </span>
                                        </div>
                                        <span class="ps-1">دیگر صفحات</span>
                                    </div>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/pages-misc-error.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                خطای 404
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/pages-misc-under-maintenance.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                دردست تعمیر
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/pages-misc-comingsoon.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                به زودی
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/pages-misc-not-authorized.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                عدم دسترسی
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-verify-email-basic.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                تأیید ایمیل (پایه)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-verify-email-cover.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                تأیید ایمیل (کاور)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-two-steps-basic.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                تأیید دو مرحله (پایه)
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mega-dropdown-link" href="../vertical-menu-template/auth-two-steps-cover.html" target="_blank">
                                                <i class="ti ti-circle me-1"></i>
                                                تأیید دو مرحله (کاور)
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 d-none d-lg-block">
                                    <div class="bg-body nav-img-col p-2">
                                        <img alt="تصویر col مورد ناوبری" class="w-100" src="{% static 'img/front-pages/misc/nav-item-col-img.png' %}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="../vertical-menu-template/index.html" target="_blank">قالب مدیریت</a>
                    </li>
                </ul>
            </div>
            <div class="landing-menu-overlay d-lg-none"></div>
            <!-- Menu wrapper: End -->
            <!-- Toolbar: Start -->
            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Style Switcher -->
                <li class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">
                    <a class="nav-link dropdown-toggle hide-arrow" data-bs-toggle="dropdown" href="javascript:void(0);">
                        <i class="ti ti-md"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
                        <li>
                            <a class="dropdown-item" data-theme="light" href="javascript:void(0);">
                                <span class="align-middle">
                                    <i class="ti ti-sun me-2"></i>
                                    روز
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" data-theme="dark" href="javascript:void(0);">
                                <span class="align-middle">
                                    <i class="ti ti-moon me-2"></i>
                                    شب
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" data-theme="system" href="javascript:void(0);">
                                <span class="align-middle">
                                    <i class="ti ti-device-desktop me-2"></i>
                                    سیستم
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- / Style Switcher-->
                <!-- navbar button: Start -->


                <li>
                    <a class="btn btn-primary" href="../vertical-menu-template/auth-login-cover.html" target="_blank">
                        <span class="tf-icons ti ti-login scaleX-n1-rtl me-md-1"></span>
                        <span class="d-none d-md-block">ورود / ثبت نام</span>
                    </a>
                </li>
                <!-- navbar button: End -->
            </ul>
            <!-- Toolbar: End -->
        </div>
    </div>
</nav>
<!-- Navbar: End -->