{% load static %}
<!DOCTYPE html>
<html class="light-style layout-wide customizer-hide" data-assets-path="" data-template="vertical-menu-template" data-theme="theme-default" dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" name="viewport"/>
    <title>ثبت نام</title>
    <meta content="" name="description"/>
    <!-- Favicon -->
    <link href="{% static 'img/favicon/favicon.ico" rel="icon" type="image/x-icon' %}"/>
    <!-- Icons -->
    <link href="{% static 'vendor/fonts/fontawesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/fonts/tabler-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/fonts/flag-icons.css' %}" rel="stylesheet"/>
    <!-- Core CSS -->
    <link  href="{% static 'vendor/css/rtl/core.css' %}" rel="stylesheet"/>
    <link  href="{% static 'vendor/css/rtl/theme-default.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/demo.css' %}" rel="stylesheet"/>
    <!-- Vendors CSS -->
    <link href="{% static 'vendor/libs/node-waves/node-waves.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" rel="stylesheet"/>
    <!-- Vendor -->
    <link href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" rel="stylesheet"/>
    <!-- Page CSS -->
    <!-- Page -->
    <link href="{% static 'vendor/css/pages/page-auth.css' %}" rel="stylesheet"/>
    <!-- Helpers -->
    <script src="{% static 'vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% static 'vendor/js/template-customizer.js' %}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'js/config.js' %}"></script>
    <!-- Better experience of RTL -->
    <link href="{% static 'css/rtl.css' %}" rel="stylesheet"/>
</head>

<body>
<!-- Content -->
<div class="authentication-wrapper authentication-cover authentication-bg">
    <div class="authentication-inner row">
        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-7 p-0">
            <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                <img alt="auth-register-cover" class="img-fluid my-5 auth-illustration"  src="{% static 'img/illustrations/auth-register-illustration-light.png' %}"/>
                <img alt="auth-register-cover" class="platform-bg"  src="{% static 'img/illustrations/bg-shape-image-light.png' %}"/>
            </div>
        </div>
        <!-- /Left Text -->
        <!-- Register -->
        <div class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
            <div class="w-px-400 mx-auto">
                <!-- Logo -->
                <div class="app-brand mb-4">
                    <a class="app-brand-link gap-2" href="index.html">
                        <span class="app-brand-logo demo">
                            <svg fill="none" height="22" viewBox="0 0 32 22" width="32" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd" d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z" fill="#7367F0" fill-rule="evenodd"/>
                                <path clip-rule="evenodd" d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z" fill="#161616" fill-rule="evenodd" opacity="0.06"/>
                                <path clip-rule="evenodd" d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z" fill="#161616" fill-rule="evenodd" opacity="0.06"/>
                                <path clip-rule="evenodd" d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z" fill="#7367F0" fill-rule="evenodd"/>
                            </svg>
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <h3 class="mb-1">شروع همه چی از اینجا </h3>
                <p class="mb-4"></p>
                <form method="POST"  class="mb-3" id="formAuthentication">
                    <div class="mb-3">
                       {% csrf_token %}
                        <label class="form-label" for="username">نام کاربری</label>
                        <input autofocus class="form-control" id="username" name="username" placeholder="ایمیل خود را وارد نمایید" type="text"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">ایمیل</label>
                        <input class="form-control" id="email" name="email" placeholder="ایمیل خود را وارد کنید" type="email"/>
                    </div>
                    <div class="mb-3 form-password-toggle">
                        <label class="form-label" for="password1">کلمه عبور</label>
                        <div class="input-group input-group-merge">
                            <input aria-describedby="password1" class="form-control" id="password1" name="password1" placeholder="············" type="password"/>
                            <span class="input-group-text cursor-pointer">
                                <i class="ti ti-eye-off"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mb-3 form-password-toggle">
                        <label class="form-label" for="password2">تکرار کلمه عبور</label>
                        <div class="input-group input-group-merge">
                            <input aria-describedby="password2" class="form-control" id="password2" name="password2" placeholder="············" type="password"/>
                            <span class="input-group-text cursor-pointer">
                                <i class="ti ti-eye-off"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" id="terms-conditions" name="terms" type="checkbox"/>
                            <label class="form-check-label" for="terms-conditions"> من با سیاست
                                <a href="javascript:void(0);">حفظ حریم خصوصی و شرایط</a>
                                موافقت می کنم
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary d-grid w-100">ثبت نام</button>
                </form>
                <p class="text-center">
                    <span>در حال حاضر یک حساب کاربری دارید؟</span>
                    <a href="{% url 'account:login_fa' %}">
                        <span>وارد شوید</span>
                    </a>
                </p>

                {% if errors %}
                    <div class="card-body">
                    {%  for error in errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">{{ error }}
                            <button aria-label="بستن" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- /Register -->
    </div>
</div>
<!-- / Content -->
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'vendor/libs/node-waves/node-waves.js' %}"></script>
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'vendor/libs/hammer/hammer.js' %}"></script>
<script src="{% static 'vendor/libs/i18n/i18n.js' %}"></script>
<script src="{% static 'vendor/libs/typeahead-js/typeahead.js' %}"></script>
<script src="{% static 'vendor/js/menu.js' %}"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
<!-- Page JS -->
<script src="{% static 'js/pages-auth.js' %}"></script>
</body>

</html>
