{% load static i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<!DOCTYPE html>
<html class="light-style layout-navbar-fixed layout-wide" data-assets-path="{% static '' %}" data-template="front-pages" data-theme="theme-default" dir="{% if CURRENT_LANGUAGE == 'fa' or CURRENT_LANGUAGE == 'ar' %}rtl{% else %}ltr{% endif %}" lang="{{ CURRENT_LANGUAGE }}">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    {% include "includes/header_references.html" %}
    {% block page_css %}{% endblock %}
    <title>{% if current_language == 'en' %}DataHub — Data exchange platform{% elif current_language == 'ar' %}داتاهاب — منصة تبادل البيانات{% else %}پلتفرم تبادل داده - دیتاهاب{% endif %}</title>
</head>
<body>
  {% include "includes/header.html" %}

  {% block content %}
  {% endblock %}

  {% include "includes/footer.html" %}

  {% block page_js %}{% endblock %}

</body>
</html>
